@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i');


$aq-font-weight: 300;
$aq-font-size: 1rem;
$aq-font-family: 'Josefin Sans';
$aq-font-base: $aq-font-weight $aq-font-size $aq-font-family, sans-serif; // to add line-height: $aq-font-size +/+ $aq-lin-height
