<template>
  <v-app>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script lang="ts">
import { defineComponent, provide } from 'vue';
import store from '@/store';

export default defineComponent({
  name: 'App',
  setup() {
    provide('store', store); // then: const store = inject('store');
  },
});
</script>

<style lang="scss">
@import '@/assets/styles/_main.scss';
</style>
